<nav class="navbar navbar-expand-lg navbar-dark text-white">

    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Jujutsu_Kaisen_logo.png" alt=""></a>

    <div class="collapse navbar-collapse">

        <ul class="navbar-nav mr-auto">

            <li><a href="" class="active">HOME</a></li>
            <li><a href="">WORK</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CONTACT</a></li>

        </ul>

    </div>



</nav>