/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(https://b-static.besthdwallpaper.com/jujutsu-kaisen-personajes-de-anime-papel-pintado-1366x768-89923_46.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: rgb(255, 255, 255);
}